body{
	font-family: 'Open Sans', sans-serif;
}
#loginbox{
	margin-top:50px;
}
.panel > .panel-heading {
    background-image: none;
    background-color: black;
    color: white;

}
.panel-content a{
	color:white;
}
.panel-content{
	float:right;
	font-size: 80%;
	position: relative;
	top:-10px;
}
.panel-body{
	padding-top:30px;
}
.royal-btn {
    background: #009688 none repeat scroll 0 0;
    border: 2px solid transparent;
    border-radius: 25px;
    color: #fff;
    font-size: 15px;
    margin-top: 15px;
    min-width: 150px;
    padding: 10px 30px;
}
#login-alert{
	display:none;
}
.input-group{
	margin-bottom: 25px;

}
.form-group{
	margin-top:10px;

}
.control div{
	border-top: 1px solid#888; 
	padding-top:15px; 
	font-size:85%;
}
#signupbox{
	display:none; margin-top:50px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #151515;
}

.footer_bottom {
    padding: 30px 0;
        text-align: center;
        margin: 0;

}

.footer_bottom p{
    color:#ffffff;
}
